MYSQL_HOST=your-aiven-host.aivencloud.com
MYSQL_PORT=12345
MYSQL_DATABASE=compia_editora
MYSQL_USER=avnadmin
MYSQL_PASSWORD=your-password
MYSQL_SSL_CA="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"

ADMIN_PASSWORD=change-this-password
